
<h2>Agregar un producto</h2>

  <form id="addProductForm" class="needs-validation row g-3" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" required>
      <div class="invalid-feedback">
        Please enter a valid title.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" id="description" required>
      <div class="invalid-feedback">
        Please enter a valid description.
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price" id="price" required>
      <div class="invalid-feedback">
        Please enter a valid price.
      </div>
    </div>

    <div class="form-group">
      <label for="thumbnail">Thumbnail</label>
      <input type="text" class="form-control" name="thumbnail" id="thumbnail" required>
      <div class="invalid-feedback">
        Please enter a valid thumbnail.
      </div>
    </div>

    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" name="code" id="code" required>
      <div class="invalid-feedback">
        Please enter a valid code.
      </div>
    </div>

    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" class="form-control" name="stock" id="stock" required>
      <div class="invalid-feedback">
        Please enter a valid stock.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Add product</button>

  </form>